/* work sans font from google fonts */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');


* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}

/* nav section */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 240px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-menus li {
    list-style: none;
}

.nav-menus {
    display: flex;
    align-items: center;
    gap: 2rem;
    color: #3C354F;
    font-size: 1.125rem;
    font-weight: 500;
}

.company-name {
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

.company-title {
    font-size: 45px;
    font-weight: 700;
}

.g {
    color: #FF42A5;
}

.nav-icon {
    height: 24px;
}

.follow-us-nav {
    display: flex;
    align-items: center;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 1rem;
    gap: 1.50rem;
}


/* banner section */

.banner-section {
    background-image: url(../images/Group14.png);
    height: 700px;
    background-repeat: no-repeat;
    padding: 0px 240px;
}

.banner-title {
    color: #0B0223;
    font-size: 48px;
    ;
    font-weight: 600;
    text-transform: uppercase;
}

.goat {
    font-family: Work Sans;
    font-size: 95px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 24px;
}

.instant-play {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    margin-bottom: 1.0625rem;
}

.no-download {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    margin-bottom: 1.0625rem;
}

.supported-games {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    margin-bottom: 2.5625rem;
}

.sign-in-btn {
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background-color: #FF42A5;
    color: #FFF;
    border: none;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;

}

.go-rogue-btn {
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background-color: #4EC5F7;
    color: #FFF;
    border: none;
    margin-left: 24px;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.sign-in-btn,
.go-rogue-btn:hover {
    cursor: pointer;
}

.banner-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}





@media screen and (max-width: 576px) {

    nav {
        flex-direction: column;
        gap: 3.875rem;
        padding: 103px 5%;
    }

    .nav-menus {
        flex-direction: column;
        gap: 2.25rem;
    }

    .follow-us-nav {
        margin-top: 1.625rem;
    }


}


@media screen and (min-width: 577px) and (max-width: 768px) {

    nav {
        flex-direction: column;
        gap: 3.875rem;
        padding: 103px 10%;
    }

    .nav-menus {
        flex-direction: column;
        gap: 2.25rem;
    }

    .follow-us-nav {
        margin-top: 1.625rem;
    }


}

@media screen and (min-width: 769px) and (max-width: 992px) {

    nav {
        flex-direction: column;
        gap: 3.875rem;
        padding: 103px 10%;
    }

    .nav-menus {
        flex-direction: column;
        gap: 2.25rem;
    }

    .follow-us-nav {
        margin-top: 1.625rem;
    }


}

@media screen and (min-width: 993px) and (max-width: 1200px) {

    nav {
        padding: 30px 10%;
    }

    .nav-menus {
        gap: 1.3rem;
    }

}

@media screen and (min-width: 1201px) and (max-width: 1400px) {

    nav {
        padding: 30px 15%;
    }

    .nav-menus {

        gap: 2.5rem;
    }

}