/* work sans font from google fonts */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');


* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}

/* shared styles */

.linear-gradient {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.button {
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    border: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.button:hover {
    cursor: pointer;
}



/* nav section */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 240px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-menus li {
    list-style: none;
}

.nav-menus {
    display: flex;
    align-items: center;
    gap: 2rem;
    color: #3C354F;
    font-size: 1.125rem;
    font-weight: 500;
}

.company-name {
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

.company-title {
    font-size: 45px;
    font-weight: 700;
}

.g {
    color: #FF42A5;
}

.nav-icon {
    height: 24px;
}

.follow-us-nav {
    display: flex;
    align-items: center;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 1rem;
    gap: 1.50rem;
}


/* banner section */


.banner {
    background-image: url(../images/Group14.png);
    background-repeat: no-repeat;
    background-position: top left;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 240px;
}

.banner-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;

}

.banner-text h4 {
    color: #0B0223;
    /* text-align: center; */
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;

}

.banner-text h1 {
    /* text-align: center; */
    font-family: Work Sans;
    font-size: 95px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 24px;
}

.banner-text li {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 17px;
    padding-left: 0;
}

.banner-text ul {
    padding-left: 0;
}

.btn-sign-in {
    background-color: #FF42A5;
    margin-top: 30px;
}

.btn-go-rogue {
    background-color: #4EC5F7;
    margin-top: 30px;
    margin-left: 24px;
}


/* media quarries */

/* small devices (mobiles) */

@media screen and (max-width: 576px) {

    /* nav section */

    nav {
        flex-direction: column;
        gap: 3.875rem;
        padding: 103px 5%;
    }

    .nav-menus {
        flex-direction: column;
        gap: 2.25rem;
    }

    .follow-us-nav {
        margin-top: 1.625rem;
    }

    /* banner section */

    .banner {
        background-image: none;
        padding: 0 10%;
        background-position: bottom left;
    }

    .banner-content {
        flex-direction: column-reverse;
    }

    .banner-text {
        background-image: url(../images/Group14.png);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 2rem 2.5rem;
        width: 100%;
        margin-top: 35px;
    }

    .banner-img {
        max-width: 90%;
        margin-top: 20px;
    }

    .banner-text h4 {
        font-size: 30px;

    }

    .banner-text h1 {
        font-size: 60px;
    }

    .button {
        padding: 12px 20px;
        gap: 10px;
        border-radius: 48px;
        border: none;
        color: #FFF;
        font-size: 17px;
        font-weight: 600;
        text-transform: uppercase;
    }

    .btn-sign-in {
        background-color: #FF42A5;
    }

    .btn-go-rogue {
        background-color: #4EC5F7;
        margin-left: 10px;
    }

}


/* medium devices (tablets) */

@media screen and (min-width: 577px) and (max-width: 768px) {

    /* nav section */

    nav {
        flex-direction: column;
        gap: 3.875rem;
        padding: 103px 10%;
    }

    .nav-menus {
        flex-direction: column;
        gap: 2.25rem;
    }

    .follow-us-nav {
        margin-top: 1.625rem;
    }

    /* banner section */

    .banner {
        background-image: none;
        padding: 0 10%;
        background-position: bottom left;
    }

    .banner-content {
        flex-direction: column-reverse;
    }

    .banner-text {
        background-image: url(../images/Group14.png);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 2rem 2.5rem;
        width: 100%;
        margin-top: 50px;
    }

    .banner-img {
        max-width: 90%;
        margin-top: 30px;
    }

    .banner-text h4 {
        font-size: 40px;

    }

    .banner-text h1 {
        font-size: 70px;
    }

    .button {
        padding: 17px 25px;
        gap: 10px;
        border-radius: 48px;
        border: none;
        color: #FFF;
        font-size: 20px;
        font-weight: 600;
        text-transform: uppercase;
        margin-top: 15px;
    }

    .btn-sign-in {
        background-color: #FF42A5;
    }

    .btn-go-rogue {
        background-color: #4EC5F7;
        margin-left: 15px;
    }


}

/* medium large devices */

@media screen and (min-width: 769px) and (max-width: 992px) {

    /* nav section */

    nav {
        flex-direction: column;
        gap: 3.875rem;
        padding: 103px 10%;
    }

    .nav-menus {
        flex-direction: column;
        gap: 2.25rem;
    }

    .follow-us-nav {
        margin-top: 1.625rem;
    }

    /* banner section */

    .banner {
        background-image: none;
        padding: 0 10%;
        background-position: bottom left;
    }

    .banner-content {
        flex-direction: column-reverse;
    }

    .banner-text {
        background-image: url(../images/Group14.png);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 2rem 2.5rem;
        width: 100%;
        margin-top: 60px;
    }

    .banner-img {
        max-width: 90%;
        margin-top: 40px;
    }

    .banner-text h4 {
        font-size: 48px;

    }

    .banner-text h1 {
        font-size: 90px;
    }

    .button {
        padding: 20px 30px;
        gap: 10px;
        border-radius: 48px;
        border: none;
        color: #FFF;
        font-size: 20px;
        font-weight: 600;
        text-transform: uppercase;
        margin-top: 15px;
    }

    .btn-sign-in {
        background-color: #FF42A5;
    }

    .btn-go-rogue {
        background-color: #4EC5F7;
        margin-left: 20px;
    }

}

/* large devices */

@media screen and (min-width: 993px) and (max-width: 1200px) {

    /* nav section */

    nav {
        padding: 30px 10%;
    }

    .nav-menus {
        gap: 1.3rem;
    }

    /* banner section */

    .banner-text {
        background-repeat: no-repeat;
        background-size: cover;
        padding: 2rem 2.5rem;
        width: 100%;
        margin-top: 60px;
    }

    .banner-img {
        max-width: 500px;
        margin-top: 40px;
    }

    .banner-text h4 {
        font-size: 40px;

    }

    .banner-text h1 {
        font-size: 80px;
    }

    .button {
        padding: 21px 30px;
        gap: 10px;
        border-radius: 48px;
        border: none;
        color: #FFF;
        font-size: 17px;
        font-weight: 600;
        text-transform: uppercase;
        margin-top: 15px;
    }

    .btn-sign-in {
        background-color: #FF42A5;
    }

    .btn-go-rogue {
        background-color: #4EC5F7;
        margin-left: 17px;
    }

}

/* larger devices */

@media screen and (min-width: 1201px) and (max-width: 1400px) {

    /* nav section */

    nav {
        padding: 30px 15%;
    }

    .nav-menus {

        gap: 2.5rem;
    }

    /* banner section */

    .banner-text {
        background-repeat: no-repeat;
        background-size: cover;
        padding: 2rem 2.5rem;
        width: 100%;
        margin-top: 60px;
    }

    .banner-img {
        max-width: 500px;
        margin-top: 40px;
    }

    .banner-text h4 {
        font-size: 40px;

    }

    .banner-text h1 {
        font-size: 80px;
    }

    .button {
        padding: 21px 30px;
        gap: 10px;
        border-radius: 48px;
        border: none;
        color: #FFF;
        font-size: 17px;
        font-weight: 600;
        text-transform: uppercase;
        margin-top: 15px;
    }

    .btn-sign-in {
        background-color: #FF42A5;
    }

    .btn-go-rogue {
        background-color: #4EC5F7;
        margin-left: 17px;
    }


}

/* some extra devices */

@media screen and (min-width: 1401px) and (max-width: 1600px){

    /* banner section */

    .button {
        padding: 21px 35px;
        gap: 10px;
        border-radius: 48px;
        border: none;
        color: #FFF;
        font-size: 20px;
        font-weight: 600;
        text-transform: uppercase;
        margin-top: 15px;
    }

}